[submodule ".vim/bundle/vim-syntastic"]
	path = .vim/bundle/vim-syntastic
	url = git@github.com:scrooloose/syntastic
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = git@github.com:plasticboy/vim-markdown
[submodule ".vim/bundle/vim-tagbar"]
	path = .vim/bundle/vim-tagbar
	url = git@github.com:majutsushi/tagbar
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive
[submodule ".vim/bundle/vim-nerdtree"]
	path = .vim/bundle/vim-nerdtree
	url = git@github.com:scrooloose/nerdtree
[submodule ".vim/bundle/vim-nerdtree-tabs"]
	path = .vim/bundle/vim-nerdtree-tabs
	url = git@github.com:jistr/vim-nerdtree-tabs.git
[submodule ".vim/bundle/vim-nerdtree-git"]
	path = .vim/bundle/vim-nerdtree-git
	url = git@github.com:Xuyuanp/nerdtree-git-plugin.git
[submodule ".vim/bundle/vim-powerline-fonts"]
	path = .vim/bundle/vim-powerline-fonts
	url = git@github.com:powerline/fonts.git
[submodule ".vim/bundle/vim-indent-line"]
	path = .vim/bundle/vim-indent-line
	url = git@github.com:Yggdroot/indentLine.git
[submodule ".vim/bundle/vim-supertab"]
	path = .vim/bundle/vim-supertab
	url = git@github.com:ervandew/supertab.git
[submodule ".vim/bundle/vim-ctrlp"]
	path = .vim/bundle/vim-ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule ".vim/bundle/vim-es6"]
	path = .vim/bundle/vim-es6
	url = git@github.com:isRuslan/vim-es6.git
[submodule ".vim/bundle/vim-vundle"]
	path = .vim/bundle/vim-vundle
	url = git@github.com:VundleVim/Vundle.vim.git
[submodule ".vim/pack/typescript/start/vim-typescript"]
	path = .vim/pack/typescript/start/vim-typescript
	url = git@github.com:leafgarland/typescript-vim.git
