.AndroidStudio*/
.CFUserTextEncoding
.DS_Store
.NERDTreeBookmarks
.Trash/
.android/
.anyconnect
.atom/
.bash_history
.bash_sessions/
.cache/
.cisco/
.cocoapods/
.config/
.cups/
.curl/
.docker/
.eclipse/
.emulator_console_auth_token
.gconf/
.gconfd/
.gem/
.gitbook/
.gitcookies
.gnupg/
.gradle/
.hwid
.konan
.lesshst
.local/
.m2/
.netrc
.node-gyp/
.npm/
.npmrc
.nvm/
.pm2/
.oracle_jre_usage/
.repo_.gitconfig.json
.repoconfig/
.sh_history
.sqlite_history
.ssh/
.subversion/
.swt/
.tooling/
.vim/.netrwhist
.vim/undodir/
.viminfo
.wget-hsts
.yarnrc
.ShadowsocksX-NG/
.TrojanX/
Applications/
Desktop/
Documents/
Downloads/
GitBook/
Google\ Drive/
Google\ Drive\ File\ Stream
Library/
Movies/
Music/
Pictures/
Public/
VirtualBox\ VMs/
Workspace/
