[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
[alias]
	co = checkout
	cp = cherry-pick
	br = branch
	ci = commit
	st = status
	pr = pull --rebase
	unstage = reset HEAD --
	last = log -1 HEAD
	visual = !gitk
[http]
	postBuffer = 1048576000
	cookiefile = ~/.gitcookies
[credential]
	helper = osxkeychain
[pager]
	diff = delta
[delta]
	side-by-side = true
